@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
<div class=" d-flex justify-content-between align-items-center">
    <h3>Role/Index</h3>
    <a asp-action="Create" class=" btn btn-primary">Create New</a>
</div>
<hr>
<table class=" table">
    <thead>
        <tr>
            <th>RoleID</th>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-itemid="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-itemid="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>