<h1>dữ liệu từ Cotroller Gửi về là: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label>Nhập Person ID</label>
    <input type="text" name="PersonId">
    <label>Nhập họ tên:</label>
    <input type="text" name="FullName">
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu">
</form>